<!-- EDUCACIÓN -->
<div class="margenes" id="educacion">
    <h1 class="display-5 fw-bold">Educacion</h1>
    <div class="mt-2 mb-4 text-white bg-dark rounded-3">
        <div class="container-fluid py-5">

            <p>Estudios alcanzados hasta la fecha.
            </p>

            <div class="accordion" id="accordionExample" *ngFor="let educacion of educacionLista">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {{educacion.titulo}}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h4>{{educacion.lugar}}</h4>
                            <span class="education-date">{{educacion.fecha_inicio}} - {{educacion.fecha_fin}}</span>
                        </div>
                    </div>
                </div>
            </div>  
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelId2" *ngIf="isLogged">
              Agregar más
            </button>
            
            <app-new-educacion></app-new-educacion>
            
            <!-- <button routerLink="/nuevaEdu" class="btn btn-outline-light" type="button">Agregar más</button> -->
    </div>
</div>