<!-- EDUCACIÓN -->
<div class="margenes" id="educacion">
    <h1 class="display-5 fw-bold">Educacion</h1>
    <div class="mt-2 mb-4 text-white bg-dark rounded-3">
        <div class="container-fluid py-5">

            <p>Estudios alcanzados hasta la fecha.
            </p>

            <div class="accordion" id="accordionExample" *ngFor="let educacion of educacionLista">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            {{educacion.titulo}}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <h4>{{educacion.lugar}}</h4>
                            <span class="education-date">{{educacion.fecha_inicio}} - {{educacion.fecha_fin}}</span>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modelId2">
              Agregar más
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form>
                                    <div class="mb-3 row">
                                        <label for="inputName" class="col-xs-4 col-form-label">Name</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name">
                                        </div>
                                    </div>
                                    <fieldset class="mb-3 row">
                                        <legend class="col-form-legend col-xs-4">Group name</legend>
                                        <div class="col-xs-8">
                                            you can use radio and checkboxes here
                                        </div>
                                    </fieldset>
                                    <div class="mb-3 row">
                                        <div class="offset-sm-4 col-sm-8">
                                            <button type="submit" class="btn btn-primary">Action</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <button routerLink="/nuevaEdu" class="btn btn-outline-light" type="button">Agregar más</button> -->
    </div>
</div>