    <!-- PROYECTOS -->
    <div class="margenes">
        <h1 class="display-5 fw-bold" id="proyectos">Proyectos</h1>
        <div class="mt-2 mb-4 text-white bg-dark rounded-3">
            <div class="container-fluid py-5">

                <p>Algunos proyectos en los que he participado hasta la fecha.
                </p>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                An adventurer's fate
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Un juego que trata de revivir un clásico de SNES</strong> fue desarrollado
                                empleando
                                PixiJS y bajo un curso de desarrollo de videojuegos. Espero que les guste.
                                Es mi primer proyecto de juego, pero pienso seguir haciéndolo e incursionando en
                                otros
                                proyectos.

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#gameModal">
                                    Log in
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <iframe id="game"
                                                allow="; fullscreen *; geolocation; microphone; camera; midi; monetization; xr-spatial-tracking; gamepad; gyroscope; accelerometer; xr; cross-origin-isolated"
                                                frameborder="0" allowfullscreen="true"
                                                src="https://v6p9d9t4.ssl.hwcdn.net/html/6012363/dist/index.html"
                                                id="game_drop" allowtransparency="true" webkitallowfullscreen="true"
                                                mozallowfullscreen="true" msallowfullscreen="true" scrolling="no">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Página web para consultoría de Ingeniería
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Página en construcción </strong> fue desarrollada en HTML5, CSS3,
                                    Javascript. La página está en desarrollo, pero puede ser accedida.
                                    <a href="https://cpetruzzo.github.io/DisenioWeb" target="_blank">
                                        <button type="button" class="btn btn-primary">
                                            Ir a la página
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    AngelinaNUT
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Página en desarrollo para profesional de la salud</strong> Licenciada en
                                    nutrición.
                                    <a href="https://cpetruzzo.github.io/AngelinaNUT" target="_blank">
                                        <button type="button" class="btn btn-primary">
                                            Ir a la página
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-light" type="button">Agregar más</button>
                </div>
            </div>
        </div>
    </div>