<!-- CONTACTO que manda msj posta a formspree-->
<div class="margenes">
    <h1 class="display-5 fw-bold" id="contacto">Contacto</h1>
    <div class="mt-2 mb-4 text-white bg-dark rounded-3 sub-margenes">

        <!-- modify this form HTML and place wherever you want your form -->
        <form action="https://formspree.io/f/mrgjkldq" method="POST">
            <div >
                <label class="col">
                    Su correo:
                    <br>
                    <input type="email" placeholder="correo@correo.com" name="email">
                </label>
            </div>
            <div >
                <label class="row mensaje">
                    Su mensaje:
                    <br>
                    <textarea rows="4" name="message" placeholder="Contenido del mensaje que desea enviar"></textarea>
                </label>
            </div>
            <div>
                <!-- your other form fields go here -->
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
        <!-- modify this form HTML and place wherever you want your form -->




    </div>
</div>

<!-- CONTACTO que manda msj posta a formspree--

    <input type="email" name="email">

 -->